
.nav{
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center; 
    width: 100%;
}


.box{
    height:60vh;
    background-image: url('../../src/Assest/Capture.PNG');
    background-size: cover;
    background-repeat: no-repeat;
 }

 .itm:hover {
    transition: all 1s ease-out;
    box-shadow: 0px 8px 16px rgba(15, 15, 15, 0.2);
    background-color: whitesmoke;
}
.row{
    display: flex;
}

.delete{
    color: rgb(112, 8, 8);
    float: right;
    
}

.summry{
 display: inline;
 margin-right: 600px;
    
}
.checkout {
    text-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    
  }
  
  * PROGRESS BAR */
  .progressbar {
    width: 400px;
    height: 10px;
    background-color: white;
    margin-bottom: 50px;
    border:"2px solid red";
  }
  .progressbar div {
    width: 33.3%;
    height: 100%;
    background-color: rgb(255, 106, 0);
  }

  .styleform{
    margin-top: 20px;

    
  }
  .styleform input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    margin-bottom: 1rem;

   
  }
.cart{
  justify-content: center;
  display: grid;
  list-style: none;
}

  
  